.flex_container {
  display: flex;
  margin-top: 10em;
  width: 100%;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.flex_item {
  width: 50%;
  text-align: center;
}

.heading_message {
  font-size: 36px;
  margin: 1em 0;
}

.p_message {
  text-align: left;
}